name: Next Frontend Tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  next-tests:
    runs-on: ubuntu-latest
    env:
      FRONTEND_WEB_SECRET: $({ secrets.WEB_SECRET })

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
      - name: Install dependencies
        run: | 
          cd frontend-web
          npm ci
      - name: Lint code
        run: |
          cd frontend-web
          npx eslint
      - name: Test build
        run: |
          cd frontend-web
          npm run build
